@font-face {
  font-family: "AppleMyungjo";
  src: url("fonts/AppleMyungjo.ttf");
}
@font-face {
  font-family: "Brand";
  src: url("fonts/Brand.ttf");
}

html,
body {
  font-size: 17px;
  
  /* color: #747474; */
  color: #000;
  margin: 0;

  font-family: "AppleMyungjo", "Bodoni 72", "Lao MN", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 380px) {
    font-size: 15px;
  }

  @media (max-width: 330px) {
    font-size: 14px;
  }
}

button {
  font-family: inherit;
  color: inherit;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
}
